<div xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <td>Adres</td>
        <td>
            Kod Pocztowy: <input type="text" pattern="\d{5}" maxlength="5" name="newAdressZip"/><br/>
            Miasto: <input type="text" name="newAdressCity"/><br/>
            Ulica: <input type="text" name="newAdressStreet"/><br/>
            Nr domu: <input type="text" name="newAdressHouseNumber"/><br/>
            Nr mieszkania: <input type="text" name="newAdressDoorNumber"/><br/>

            Żródło: <select name="adressSOURCE">
            <option th:each="enum : ${adressSOURCES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>

            Typ: <select name="adressTYPE">
            <option th:each="enum : ${adressTYPES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>
            <textarea name="newAdressComment" placeholder="komentarz" rows="3"></textarea></td>

    </tr>
    <tr>
        <td>Telefon</td>
        <td>
            Telefon: (+<input type="text" name="newTelephonePrefix" maxlength="3" value="48" size="1"/>)
            <input type="text" name="newTelephone"/><br/>
            Żródło: <select name="telephoneSOURCE">
            <option th:each="enum : ${telephoneSOURCES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>
            Typ: <select name="telephoneTYPE">
            <option th:each="enum : ${telephoneTYPES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>
            <textarea name="newTelephoneComment" placeholder="komentarz" rows="3"></textarea></td>
    </tr>
</div>


