<div xmlns:th="http://www.w3.org/1999/xhtml">
<tr>
    <td>Adres</td>
    <td>
        <select style="width: 300px;" name="adress" class="showDetails" th:target="'showDetails' + ${stat.count}">
            <option value=""></option>
            <option th:each="adress : ${raport.getSubject().getAdresses()}" th:value="${adress.getId()}"
                    th:text="${adress.printFullAdress()} + '  |--|' + ${adress.getAdressTYPE().getFullName()}"></option>
        </select>
        <p th:id="'showDetails' + ${stat.count}" style="display: none;">
            <select name="raportADRESS">
                <option th:each="enum : ${raportADRESES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select>
        </p></td>
</tr>
</div>



