<div xmlns:th="http://www.w3.org/1999/xhtml">

<tr >
    <td>Co z samochodem:
        <input type="text" name="car" th:value="${raport.getCar()}" hidden></td>
    <td>
        <select class="showDeclarationRetrieveDate" name="raportCAR" th:target="'declarationRetrieveDate' + ${stat.count}">
            <option th:each="enum : ${raportCARS}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select>
        <p th:id="'declarationRetrieveDate' + ${stat.count}" style="display: none;">Data <input  name=declarationRetrieveDate type="date" th:value="${stat.count}" th:id="${stat.count}"></p>
    </td>
</tr>
</div>

<script>
    var classname = document.getElementsByClassName("showDeclarationRetrieveDate");
    for(i=0;i<classname.length;i++){
        classname[i].addEventListener('change', function () {
            var style = this.value == "DEKLARACJA_WYDANIA" ? 'block' : 'none';
            document.getElementById($(this).attr('target')).style.display = style;
        })};
</script>
