<div xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <th>Numer Forum <input type="text" th:name="forum" th:value="${raport.getForum()}" hidden>
        </th>
        <td th:text="${raport.getForum()}"></td>

    </tr>
    <tr>
        <th>Klient <input th:name="subject" type="number" th:value="${raport.getSubject().getId()}" hidden></th>
        <td th:text="${raport.getSubject().getName()} + ' (' + ${raport.getDebtorRole()} + ')'"></td>

    </tr>
    <tr>
        <td>Data czynności
        </td>
        <td><input type="datetime-local" name="raportDate">
            <a th:href="'#'+'addAdress' + ${stat.count}" th:onclick="'display(\''+ 'addAdress' + ${stat.count} +'\');'">DodajAdres</a>
            <a th:href="'#'+'addTelephone' + ${stat.count}" th:onclick="'display(\''+ 'addTelephone' + ${stat.count} +'\');'">DodajTelefon</a>
        </td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div style="display: none;" th:id="'addAdress' + ${stat.count}" >
                Kod Pocztowy: <input type="text" pattern="\d{5}" maxlength="5" name="newAdressZip"/><br/>
                Miasto: <input type="text" name="newAdressCity"/><br/>
                Ulica: <input type="text" name="newAdressStreet"/><br/>
                Nr domu: <input type="text" name="newAdressHouseNumber"/><br/>
                Nr mieszkania: <input type="text" name="newAdressDoorNumber"/><br/>

                Żródło: <select name="adressSOURCE">
                <option th:each="enum : ${adressSOURCES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select><br/>

                Typ: <select name="adressTYPE">
                <option th:each="enum : ${adressTYPES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select><br/>
                <textarea name="newAdressComment" placeholder="komentarz" rows="3"></textarea></div>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <div style="display: none;" th:id="'addTelephone' + ${stat.count}" >
            Telefon: (+<input type="text" name="newTelephonePrefix" maxlength="3" value="48" size="1"/>)
            <input type="text" name="newTelephone"/><br/>
            Żródło: <select name="telephoneSOURCE">
            <option th:each="enum : ${telephoneSOURCES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>
            Typ: <select name="telephoneTYPE">
            <option th:each="enum : ${telephoneTYPES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
        </select><br/>
            <textarea name="newTelephoneComment" placeholder="komentarz" rows="3"></textarea>
            </div>
        </td>
    </tr>
</div>

<script>
    function display(id) {
        var x = document.getElementById(id);
        x.style.display = "block";
    }
</script>
