<div xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <td>Z kim kontakt</td>
        <td>
            <select name="raportTYPE">
                <option th:each="enum : ${raportTYPES}" th:value="${enum}" th:text="${enum}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Co z zaległością</td>
        <td>
            <select name="raportAMOUNT">
                <option th:each="enum : ${raportAMOUNTS}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select></td>
    </tr>
    <tr>
    <tr>
        <td>Kwoata Deklaracji</td>
        <td><input type="number" placeholder="0"  min="0" step="any" name="declarationPaymantValue"/></td>
    </tr>
    <tr>
        <td>Data deklaracji wpłaty</td>
        <td><input name="declarationPaymantDate" type="date"></td>
    </tr>
    <tr>
        <td>Data przypomnienia</td>
        <td><input name="scheduledTask" type="datetime-local"></td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            <select name="raportSTATUS">
                <option th:each="enum : ${raportSTATUSS}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Własny status</td>
        <td><input name="raportSTATUS2" type="text"></td>
    </tr>
    <tr>
        <td>Komentarz</td>
        <td><textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></td>
    </tr>
    <tr>
        <td>KomentarzWT</td>
        <td><input name="hideComment" type="text" cols="40" rows="5"/></td>
    </tr>
    <tr>
        <td>Priorytetowy</td>
        <td><input name="priority" type="checkbox"></td>
    </tr>

</div>


