<div xmlns:th="http://www.w3.org/1999/xhtml">
<tr>
    <td>Telefon</td>
    <td>
        <select style="width: 300px;" name="telephone" class="showDetails" th:target="'showDetailsTel' + ${stat.count}">
            <option value=""></option>
            <option th:each="telephone : ${raport.getSubject().getTelephones()}" th:value="${telephone}"
                    th:text="${telephone} + '  |--|' + ${telephone.getTelephoneTYPE().getFullName()}"></option>
        </select>
        <p th:id="'showDetailsTel' + ${stat.count}" style="display: none;">
            <select style="width: 300px;" name="raportTELEPHONE">
                <option th:each="enum : ${raportTELEPHONES}" th:value="${enum}" th:text="${enum.getFullName()}"></option>
            </select>
        </p>
    </td>
</tr>
</div>


