<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>ReadWWW</title>
</head>
<body>
<main role="main" layout:fragment="top" class="container">
<span th:text="${urlSource}"></span>
</main>
</body>
</html>