<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>

<br><br>

<!--<div align="right" th:if="${forumList!=null}">-->
    <!--<form action="/action_page.php">-->
        <!--<select name="cars" size="25">-->
            <!--<option th:each="forumList : ${forumList}" th:value="${forumList}" th:text="${forumList}"></option>-->
        <!--</select>-->

        <!--<br><br>-->
        <!--<input type="submit">-->
    <!--</form>-->
<!--</div>-->
</body>
</html>