<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShowStructure</title>
</head>
<body>
<table>
<tr th:each="file : ${map}">
    <td th:text="${file.key}"></td>
    <td> <a th:href="'/test/zipEntry?forum=' + ${forum} +'&path=' + ${file.key}" th:text="${file.value}"></a></td>
</tr>
</table>
</body>
</html>