<div xmlns:th="http://www.w3.org/1999/xhtml">
<br/>
    Informacje o  zadłużeniu: <br/>
    <small>Nr rachunku: </small><small th:text="${assigment.getOrder().printIBAN()}"></small>
    <h4>Saldo <b th:text="${lastBalance.getBalance()}">23 530 zł</b></h4>
    Kapitał: <span th:text="${lastBalance.getCapital()}"></span>  <br/>
    Odsetki: <span th:text="${lastBalance.getInterest()}"></span> <br/>
    Koszty: <span th:text="${lastBalance.getCosts()}"></span>  <br/>
</div>
