<div xmlns:th="http://www.w3.org/1999/xhtml">
    ZABEZPIECZENIE:
    <br>model: <b th:text="${assigment.getOrder().getCar().getBrand()}"></b>
    <br>rocznik: <b th:text="${assigment.getOrder().getCar().getProductionYear()}"></b>
    <br>vin: <b th:text="${assigment.getOrder().getCar().getVin()}"></b>
    <br>rej: <b th:text="${assigment.getOrder().getCar().getNrRej()}"></b>
</div>
