<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="debtor : ${assigment.getOrder().getDebtors()}">
        <br/><br/>
            <span th:text="${debtor.getDebtorROLE().getFullName()}"></span>
            <span th:text="${debtor.getDebtorTYPE().getFullName()}"></span><br/>
            <small th:text="${debtor.getSubject().printPeselNipRegon()}"></small><br>

        <h3 th:text="${debtor.getSubject().printName()}"></h3>
        <div th:each="adress : ${debtor.getSubject().getAdresses()}">
            <span th:text="'Adres ' + ${adress.getAdressTYPE().getFullName()} + ':  ' + ${adress.printFullAdress()}"></span>
        </div>
        <div th:each="telephone : ${debtor.getSubject().getTelephones()}">
            <span th:text="${telephone.getTelephoneTYPE().getFullName()}"></span>
            <a th:href="'tel:' + ${telephone.getTelephone()}"  th:text="${telephone.prettyPrint()}"></a>
        </div>
        <div th:each="email : ${debtor.getSubject().getEmails()}">
            <span th:text="${email.getEmail()}"></span>
        </div>
    </div>
</div>
