<div xmlns:th="http://www.w3.org/1999/xhtml">
    Numer forum:  <b ></b> <br/>
    <h4 th:text="${assigment.getOrder().getForum()}"></h4>

    Numer umowy:                <br/>
    <b th:text="${assigment.getOrder().getOrginalNumer()}"></b>           <br/>
    z dnia: <b th:text="${assigment.getOrder().getSigningDate()}"></b>   <br/>

    Data wypowiedzenia:
    <span th:text="${assigment.getOrder().getTerminationAndMaturityDate()}"></span>

</div>
