<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${firstName!=null}">Witaj <span th:text="${firstName}"></span></div>
<h4>Zlecenie Odbioru Pojazdu</h4>
    Zleceniodawca: <b th:text="${assigment.getOrder().getWinPARTNER().getFullName()}"></b> <br/>
    Wykonawca: <b>WiN sp z oo</b>      <br/>
</div>
