<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main" layout:fragment="container" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <th scope="row" th:text="${customer.id}">1</th>
            <td th:text="${customer.firstName}">Mark</td>
            <td th:text="${customer.lastName}">Otto</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>