<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


</head>

<main xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="POST" th:action="@{/raport/saveAndAdd}">
        <input class="form-control" type="submit" value="Ok">
            <table border="1" th:each="raport,stat : ${raportList}">
                <div th:include="raport/part/orderStart"></div>
                <div th:include="raport/part/adress"></div>
                <div th:include="raport/part/telephone"></div>
                <div th:include="raport/part/orderEnd"></div>

                <!--todo jezeli jest pojazd-->
                <div th:include="raport/part/car"></div>
            <br><br>
                <script>
                    var classname = document.getElementsByClassName("showDetails");
                    for(i=0;i<classname.length;i++){
                        classname[i].addEventListener('change', function () {
                            var style = this.value != "" ? 'block' : 'none';
                            document.getElementById($(this).attr('target')).style.display = style;
                        })};
                </script>
            </table>
    </form>
</main>
