<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">

<main role="main" layout:fragment="top" class="container">
    <form method="POST" th:action="@{saveAndAdd}">
        <input class="form-control" type="submit" value="Ok">
        <table border="1" th:each="raport,stat : ${raportList}">
            <div th:include="raport/part/orderStart"></div>
            <div th:include="raport/part/addAdrTel"></div>
            <div th:include="raport/part/adress"></div>
            <div th:include="raport/part/telephone"></div>
            <div th:include="raport/part/orderEnd"></div>

            <!--todo jezeli jest pojazd-->
            <div th:include="raport/part/car"></div>
            <br><br>
        </table>

    </form>
    <script>
        var classname = document.getElementsByClassName("showDetails");
        for(i=0;i<classname.length;i++){
            classname[i].addEventListener('change', function () {
                var style = this.value != "" ? 'block' : 'none';
                document.getElementById($(this).attr('target')).style.display = style;
            })};


    </script>
</main>
