<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>

</head>

<body>
<main role="main" layout:fragment="top" class="container">
<!--<p th:text="${string}"></p>-->
    <p th:text="${#strings.replace(desc, newLineChar, '&lt;br /&gt;')}"></p>
</main>


</body>
</html>


