<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>selectEnum</title>

</head>
<body>
<main role="main" layout:fragment="container" class="container">
    <!--<select>-->
    <!--<option-->
    <!--th:each="enum : ${T(pl\windykacjasamochodowa\store\model\_enums\debtorData\AdressVERIFIED).values()}"-->
    <!--th:value="${enum}"-->
    <!--th:text="${enum}">-->
    <!--</option>-->
    <!--</select>-->

    <!--<select>-->
    <!--<option th:each="verified : ${pl.windykacjasamochodowa.store.model._enums.debtorData.AdressVERIFIED.values()}" th:value="${verified}" th:text="${verified}"></option>-->
    <!--</select>-->

    <select>
        <option th:each="enum : ${enums}" th:value="${enum}" th:text="${enum()}"></option>
    </select>

    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>Column</th>
                <th>Column</th>
                <th>Column</th>
                <th>Column</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false"
                aria-controls="group-of-rows-1">
                <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            </tbody>
            <tbody id="group-of-rows-1" class="collapse">
            <tr>
                <td>- child row</td>
                <td>data 1</td>
                <td>data 1</td>
                <td>data 1</td>
            </tr>
            <tr>
                <td>- child row</td>
                <td>data 1</td>
                <td>data 1</td>
                <td>data 1</td>
            </tr>
            </tbody>
            <tbody>
            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false"
                aria-controls="group-of-rows-2">
                <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            </tbody>
            <tbody id="group-of-rows-2" class="collapse">
            <tr>
                <td>- child row</td>
                <td>data 2</td>
                <td>data 2</td>
                <td>data 2</td>
            </tr>
            <tr>
                <td>- child row</td>
                <td>data 2</td>
                <td>data 2</td>
                <td>data 2</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:include="list"></div>


</main>
<script>
    $('.collapse').on('show.bs.collapse', function () {
        $('.collapse.in').collapse('hide');

    });

</script>
</body>
</html>