<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>

    <meta charset="UTF-8">
    <title>Bootstrap Table - Filter control</title>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch'
          href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
</head>

<body>
<main role="main" layout:fragment="top" class="container">


    <div class="container">

        <div id="toolbar">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>


        <table id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="forum" data-filter-control="input" data-sortable="true">Forum</th>
                <th data-field="nrRej" data-filter-control="input" data-sortable="true">Rejestracja</th>
                <th data-field="model" data-filter-control="input" data-sortable="true">Samochód</th>
                <th data-field="kampania" data-filter-control="select" data-sortable="true">Kampania</th>
                <th data-field="dataKonca" data-filter-control="input" data-sortable="true">Data końca</th>
                <th data-field="wt" data-filter-control="input" data-sortable="true">WT</th>
                <th data-field="note" data-sortable="true">Kampania:</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="assigment, i : ${assigments}">
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td th:text="${assigment.getOrder().getForum()}"></td>
                <td th:text="${assigment.getOrder().getCar().getNrRej()}"></td>
                <td th:text="${assigment.getOrder().getCar().getBrand()}"></td>
                <td th:text="${assigment.getCampaign().getName()}"></td>
                <td th:text="${assigment.getCampaign().getCampaignEnd()}"></td>
                <td th:text="${assigment.getVindicator().getId()}"></td>
                <td>
                        <p th:each="debtor: ${assigment.getOrder().getDebtors()}"
                                th:text="${debtor.getSubject().getName()}">
                        </p>
                </td>


            </tbody>
        </table>
    </div>


</main>


</body>
</html>


