<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main" layout:fragment="top" class="container">
    <table>
        <tr>
            <th>Forum</th>
            <th>Opis</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="unsave : ${unsave}">
            <td th:text="${unsave.getKey()}"></td>
            <td th:text="${unsave.getValue()}"></td>
        </tr>
    </table>
</main>
</body>
</html>