<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<main role="main" layout:fragment="top" class="container">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-list-search">
                <thead>
                <tr>
                    <th data-field="forum" data-filter-control="input" data-sortable="true">Forum</th>
                    <th data-field="nrRej" data-filter-control="input" data-sortable="true">Rejestracja</th>
                    <th data-field="model" data-filter-control="input" data-sortable="true">Samochód</th>
                    <th data-field="kampania" data-filter-control="select" data-sortable="true">Kampania</th>
                    <th data-field="dataKonca" data-filter-control="input" data-sortable="true">Data końca</th>
                    <th data-field="note" data-sortable="true">Kampania:</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="assigment, i : ${assigments}">
                    <!--<td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>-->
                    <td th:text="${assigment.getOrder().getForum()}"></td>
                    <td th:text="${assigment.getOrder().getCar().getNrRej()}"></td>
                    <td th:text="${assigment.getOrder().getCar().getBrand()}"></td>
                    <td th:text="${assigment.getCampaign().getName()}"></td>
                    <td th:text="${assigment.getCampaign().getCampaignEnd()}"></td>
                    <td>
                        <a href="www.google.pl">google</a>
                        <p th:each="debtor: ${assigment.getOrder().getDebtors()}"
                           th:text="${debtor.getSubject().getName()}">

                    </td>

                </tbody>
            </table>
        </div>
    </div>
</div>
</main>
<script>
    $(document).ready(function() {
        var activeSystemClass = $('.list-group-item.active');

        //something is entered in search form
        $('#system-search').keyup( function() {
            var that = this;
            // affect all table rows on in systems table
            var tableBody = $('.table-list-search tbody');
            var tableRowsClass = $('.table-list-search tbody tr');
            $('.search-sf').remove();
            tableRowsClass.each( function(i, val) {

                //Lower text for case insensitive
                var rowText = $(val).text().toLowerCase();
                var inputText = $(that).val().toLowerCase();
                if(inputText != '')
                {
                    $('.search-query-sf').remove();
                    tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                        + $(that).val()
                        + '"</strong></td></tr>');
                }
                else
                {
                    $('.search-query-sf').remove();
                }

                if( rowText.indexOf( inputText ) == -1 )
                {
                    //hide rows
                    tableRowsClass.eq(i).hide();

                }
                else
                {
                    $('.search-sf').remove();
                    tableRowsClass.eq(i).show();
                }
            });
            //all tr elements are hidden
            if(tableRowsClass.children(':visible').length == 0)
            {
                tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
            }
        });
    });
</script>
</body>
</html>