<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">

<main role="main" layout:fragment="top" class="container">
    <form method="POST" th:action="@{save}">
        <table border="1" th:each="string : ${pdfLine}">
            <p th:text="${string}"></p>
        </table>

    </form>
</main>
