<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
<main role="main" layout:fragment="top" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Rejestracja</th>
            <th scope="col">Marka</th>
            <th scope="col">vin</th>
            <th scope="col">Rocznik</th>
            <th scope="col">nrRej</th>
            <th scope="col">DataRejestracji</th>
            <th scope="col">UP</th>
            <th scope="col">WYP</th>
            <th scope="col">ZW</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <th scope="row" th:text="${car.nrRej}"></th>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.vin}"></td>
            <td th:text="${car.productionYear}"></td>
            <td th:text="${car.nrRej}"></td>
            <td th:text="${car.firstRejDate}"></td>
            <td th:text="${car.contractOfTransfer}"></td>
            <td th:text="${car.terminationDoc}"></td>
            <td th:text="${car.confirmationOfReceipt}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>